<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iDefect.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<!-- アプリケーション設定 -->
	<appSettings>
		<!-- Xシフト量1（-1650.0～1650.0） -->
		<add key="Xshift1" value="-1650.0" />
		<!-- Xシフト量2（-1650.0～1650.0） -->
		<add key="Xshift2" value="1650.0" />
		<!-- 重複判定X座標（0～99） -->
		<add key="Xoverlap" value="99" />
		<!-- 重複判定Y座標（0～99） -->
		<add key="Yoverlap" value="99" />
		<!-- 除去加工1 -->
		<add key="DefectKind1" value="A2B" />
		<!-- 除去加工2 -->
		<add key="DefectKind2" value="欠点テスト1" />
		<!-- 除去加工3 -->
		<add key="DefectKind3" value="欠点テスト2" />
		<!-- 除去加工4 -->
		<add key="DefectKind4" value="欠点テスト3" />
		<!-- 除去加工5 -->
		<add key="DefectKind5" value="欠点テスト4" />
		<!-- 除去加工6 -->
		<add key="DefectKind6" value="XXXXXXXXXXXXXXXX" />
		<!-- 除去加工7 -->
		<add key="DefectKind7" value="" />
		<!-- 除去加工8 -->
		<add key="DefectKind8" value="" />
		<!-- 2DC開始位置（0～9999） -->
		<add key="Start2DC" value="0" />
		<!-- 2DC終了位置（0～9999） -->
		<add key="End2DC" value="9999" />
		<!-- データ並び順（True:昇順／False:降順） -->
		<add key="AscOrder" value="True" />
		<!-- X座標限度値開始（-1650～1650） -->
		<add key="XlimitStart" value="-1650" />
		<!-- X座標限度値終了（-1650～1650） -->
		<add key="XlimitEnd" value="1650" />
		<!-- Y座標限度値開始（0～1001） -->
		<add key="YlimitStart" value="0" />
		<!-- Y座標限度値終了（0～1001） -->
		<add key="YlimitEnd" value="1001" />
		<!-- 出荷ファイル名 -->
		<add key="ShippingFile" value="filename" />
		<!-- デフォルト出力フォルダ -->
	  <add key="DefaultOutputFolder" value="C:\TEST\サンプル10行" />
	</appSettings>
</configuration>